<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Animals.Properties.Settings.connString" connectionString="Data Source=DESKTOP-UKPP3P6;Initial Catalog=Animals;Integrated Security=True;P" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>